body {
  margin: 0;
  padding: 0;
  background-color: #181A1F;
  height: 100vh;
}

:root {
  color: #fff;
  user-select: none;
  font-family: 'Alibaba PuHuiTi 3.0', sans-serif;
}

h2 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

main {
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
}